In [2]:
!pip install pandas
!pip install numpy

Requirement already satisfied: pandas in c:\users\sudarsan\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\sudarsan\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sudarsan\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\sudarsan\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\sudarsan\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\sudarsan\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: numpy in c:\users\sudarsan\anaconda3\lib\site-packages (1.26.4)

In [3]:
#Import Libraries and Load Data
import pandas as pd
import numpy as np

In [4]:
#Load the Datasets
df1=pd.read_csv(r"C:\Users\Sudarsan\OneDrive\sudarsun\Data Analyst intern(OASIS infotech)\Task 2\New York City ANB 2019.csv")
df2=pd.read_csv(r"C:\Users\Sudarsan\OneDrive\sudarsun\Data Analyst intern(OASIS infotech)\Task 2\CAvideos.csv")

In [6]:
#Data Integrity
#check for data types and info 
print("Data Integrity Check for df1:")
print(df1.info())

Data Integrity Check for df1:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB
None

In [7]:
print("\nData Integrity Check for df2:")
print(df2.info())

Data Integrity Check for df2:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40881 entries, 0 to 40880
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   video_id                40881 non-null  object
 1   trending_date           40881 non-null  object
 2   title                   40881 non-null  object
 3   channel_title           40881 non-null  object
 4   category_id             40881 non-null  int64
 5   publish_time            40881 non-null  object
 6   tags                    40881 non-null  object
 7   views                   40881 non-null  int64
 8   likes                   40881 non-null  int64
 9   dislikes                40881 non-null  int64
 10  comment_count           40881 non-null  int64
 11  thumbnail_link          40881 non-null  object
 12  comments_disabled       40881 non-null  bool
 13  ratings_disabled        40881 non-null  bool
 14  video_error_or_removed  40881 non-null  bool
 15  description             39585 non-null  object
dtypes: bool(3), int64(5), object(8)
memory usage: 4.2+ MB
None

In [8]:
#Convert data type 
df1['price']=pd.to_numeric(df1['price'],errors='coerce')

In [11]:
df2['views'] = pd.to_numeric(df2['views'], errors='coerce')

In [12]:
#Missing Data Handling
print("\nMissing Values in df1:")
print(df1.isnull().sum())

Missing Values in df1:
id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [13]:
print("\nMissing Values in df2:")
print(df2.isnull().sum())

Missing Values in df2:
video_id                     0
trending_date                0
title                        0
channel_title                0
category_id                  0
publish_time                 0
tags                         0
views                        0
likes                        0
dislikes                     0
comment_count                0
thumbnail_link               0
comments_disabled            0
ratings_disabled             0
video_error_or_removed       0
description               1296
dtype: int64

In [16]:
#Handling missing values
#Drop rows with missing values
df1.dropna(inplace=True)
df2.dropna(inplace=True)

In [18]:
# Check for duplicates
print("\nDuplicates in df1:")
print(df1.duplicated().sum())

Duplicates in df1:
0

In [19]:
print("\nDuplicates in df2:")
print(df2.duplicated().sum())

Duplicates in df2:
0

In [20]:
# Remove duplicates
df1.drop_duplicates(inplace=True)
df2.drop_duplicates(inplace=True)

In [22]:
#Standardization
# Standardize column names
df1.columns = df1.columns.str.lower().str.replace(' ', '_')
df2.columns = df2.columns.str.lower().str.replace(' ', '_')

In [25]:
#Convert price to float 
def convert_price(x):
    if isinstance(x, str): 
        return float(x.replace('$', '').replace(',', ''))
    elif pd.isna(x): 
        return x
    else:
        return float(x)
df1['price'] = df1['price'].apply(convert_price)

print(df1)

             id                                              name    host_id  \
0          2539                Clean & quiet apt home by the park       2787
1          2595                             Skylit Midtown Castle       2845
3          3831                   Cozy Entire Floor of Brownstone       4869
4          5022  Entire Apt: Spacious Studio/Loft by central park       7192
5          5099         Large Cozy 1 BR Apartment In Midtown East       7322
...         ...                                               ...        ...
48782  36425863        Lovely Privet Bedroom with Privet Restroom   83554966
48790  36427429                          No.2 with queen size bed  257683179
48799  36438336                                   Seas The Moment  211644523
48805  36442252                     1B-1B apartment near by Metro  273841667
48852  36455809           Cozy Private Room in Bushwick, Brooklyn   74162901

         host_name neighbourhood_group    neighbourhood  latitude  longitude  \
0             John            Brooklyn       Kensington  40.64749  -73.97237
1         Jennifer           Manhattan          Midtown  40.75362  -73.98377
3      LisaRoxanne            Brooklyn     Clinton Hill  40.68514  -73.95976
4            Laura           Manhattan      East Harlem  40.79851  -73.94399
5            Chris           Manhattan      Murray Hill  40.74767  -73.97500
...            ...                 ...              ...       ...        ...
48782        Rusaa           Manhattan  Upper East Side  40.78099  -73.95366
48790         Hâ€†Ai              Queens         Flushing  40.75104  -73.81459
48799          Ben       Staten Island      Great Kills  40.54179  -74.14275
48805       Blaine               Bronx       Mott Haven  40.80787  -73.92400
48852    Christine            Brooklyn         Bushwick  40.69805  -73.92801

             room_type  price  minimum_nights  number_of_reviews last_review  \
0         Private room  149.0               1                  9  2018-10-19
1      Entire home/apt  225.0               1                 45  2019-05-21
3      Entire home/apt   89.0               1                270  2019-07-05
4      Entire home/apt   80.0              10                  9  2018-11-19
5      Entire home/apt  200.0               3                 74  2019-06-22
...                ...    ...             ...                ...         ...
48782     Private room  129.0               1                  1  2019-07-07
48790     Private room   45.0               1                  1  2019-07-07
48799     Private room  235.0               1                  1  2019-07-07
48805  Entire home/apt  100.0               1                  2  2019-07-07
48852     Private room   30.0               1                  1  2019-07-08

       reviews_per_month  calculated_host_listings_count  availability_365
0                   0.21                               6               365
1                   0.38                               2               355
3                   4.64                               1               194
4                   0.10                               1                 0
5                   0.59                               1               129
...                  ...                             ...               ...
48782               1.00                               1               147
48790               1.00                               6               339
48799               1.00                               1                87
48805               2.00                               1                40
48852               1.00                               1                 1

[38821 rows x 16 columns]

In [27]:
#Outlier Detection
# Detect outliers using IQR (Interquartile Range) method
def detect_outliers(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    return df[(df[column] < lower_bound) | (df[column] > upper_bound)]

In [28]:
outliers_df1 = detect_outliers(df1, 'price')
print("\nOutliers in df1 (price column):")
print(outliers_df1)

Outliers in df1 (price column):
             id                                               name    host_id  \
61        15396                 Sunny & Spacious Chelsea Apartment      60278
85        19601                perfect for a family or small group      74303
103       23686  2000 SF 3br 2bath West Village private  townhouse      93790
114       26933  2 BR / 2 Bath Duplex Apt with patio! East Village      72062
116       26969                2 story family home in Williamsburg     115307
...         ...                                                ...        ...
47736  35881797    Luxury Hi-End Brooklyn Brownstone with backyard  269893009
47927  35991985                 Penthouse Lofts + Private Terrace!  270590027
47950  36000376                   â˜…â˜… 4Br 2Ba Getaway in Chelsea â˜…â˜…  268449136
48118  36097970   Astonishing Nomad Apt in the Center Of Manhattan  270292053
48740  36413632         Spacious 2BR in Beautiful Brooklyn Heights    6608220

                 host_name neighbourhood_group     neighbourhood  latitude  \
61                   Petra           Manhattan           Chelsea  40.74623
85                  Maggie            Brooklyn  Brooklyn Heights  40.69723
103                    Ann           Manhattan      West Village  40.73096
114                  Bruce           Manhattan      East Village  40.72540
116              Alexandra            Brooklyn      Williamsburg  40.71942
...                    ...                 ...               ...       ...
47736                   Ek            Brooklyn         Bay Ridge  40.63294
47927               Amanda            Brooklyn      Williamsburg  40.70907
47950  Alexandra & William           Manhattan           Chelsea  40.74263
48118               Teufik           Manhattan           Chelsea  40.74690
48740                 Matt            Brooklyn  Brooklyn Heights  40.69827

       longitude        room_type  price  minimum_nights  number_of_reviews  \
61     -73.99530  Entire home/apt  375.0             180                  5
85     -73.99268  Entire home/apt  800.0               1                 25
103    -74.00319  Entire home/apt  500.0               4                 46
114    -73.98157  Entire home/apt  350.0               2                  7
116    -73.95748  Entire home/apt  325.0               3                324
...          ...              ...    ...             ...                ...
47736  -74.02730  Entire home/apt  595.0               1                  4
47927  -73.95054  Entire home/apt  599.0               2                  1
47950  -74.00234  Entire home/apt  800.0               3                  1
48118  -73.99038  Entire home/apt  350.0               3                  3
48740  -73.99649  Entire home/apt  550.0               3                  1

      last_review  reviews_per_month  calculated_host_listings_count  \
61     2018-11-03               0.12                               1
85     2016-08-04               0.24                               1
103    2019-05-18               0.55                               2
114    2017-08-09               0.06                               4
116    2019-06-23               3.01                               1
...           ...                ...                             ...
47736  2019-07-07               4.00                               1
47927  2019-07-05               1.00                               1
47950  2019-07-01               1.00                               1
48118  2019-07-03               3.00                               1
48740  2019-07-07               1.00                               1

       availability_365
61                  180
85                    7
103                 243
114                 298
116                 107
...                 ...
47736                57
47927               346
47950               345
48118               345
48740               230

[2077 rows x 16 columns]

In [29]:
outliers_df2 = detect_outliers(df2, 'views')
print("\nOutliers in df2 (views column):")
print(outliers_df2)

Outliers in df2 (views column):
          video_id trending_date  \
0      n1WpP7iowLc      17.14.11
2      5qpjK5DgCt4      17.14.11
4      2Vv-BfVoq4g      17.14.11
6      _uM5kFfkhB8      17.14.11
8      JzCsM1vtn78      17.14.11
...            ...           ...
40797  DGzy8FE1Rhk      18.14.06
40807  G4g2Kg6wXBc      18.14.06
40828  64UX1npgRkI      18.14.06
40857  vg0ZfeszGrU      18.14.06
40864  Fmdb-KmlzD8      18.14.06

                                                   title      channel_title  \
0             Eminem - Walk On Water (Audio) ft. BeyoncÃ©         EminemVEVO
2      Racist Superman | Rudy Mancuso, King Bach & Le...       Rudy Mancuso
4            Ed Sheeran - Perfect (Official Music Video)         Ed Sheeran
6                 Vanoss Superhero School - New Students       VanossGaming
8                   THE LOGANG MADE HISTORY. LOL. AGAIN.   Logan Paul Vlogs
...                                                  ...                ...
40797                             Shawn Mendes - Nervous    ShawnMendesVEVO
40807  Junga Official Trailer | Vijay Sethupathi, Say...  Think Music India
40828  Sanju: Kar Har Maidaan Fateh | Ranbir Kapoor |...           T-Series
40857  Difference | Amrit Maan ft Sonia Maan | Latest...         Bamb Beats
40864     Halo Infinite - E3 2018 - Announcement Trailer               HALO

       category_id              publish_time  \
0               10  2017-11-10T17:00:03.000Z
2               23  2017-11-12T19:05:24.000Z
4               10  2017-11-09T11:04:14.000Z
6               23  2017-11-12T23:52:13.000Z
8               24  2017-11-12T20:19:24.000Z
...            ...                       ...
40797           10  2018-06-11T16:00:03.000Z
40807            1  2018-06-13T05:57:12.000Z
40828           10  2018-06-10T05:31:55.000Z
40857           10  2018-06-08T11:13:27.000Z
40864           20  2018-06-10T20:02:54.000Z

                                                    tags     views    likes  \
0      Eminem|"Walk"|"On"|"Water"|"Aftermath/Shady/In...  17158579   787425
2      racist superman|"rudy"|"mancuso"|"king"|"bach"...   3191434   146035
4      edsheeran|"ed sheeran"|"acoustic"|"live"|"cove...  33523622  1634130
6      Funny Moments|"Montage video games"|"gaming"|"...   2987945   187464
8      logan paul vlog|"logan paul"|"logan"|"paul"|"o...   4477587   292837
...                                                  ...       ...      ...
40797  Shawn|"Mendes"|"Nervous"|"Island"|"Records"|"Pop"   4986664   518240
40807  junga trailer|"junga songs"|"tamil songs"|"tam...   2274252   121587
40828  Kar Har Maidaan Fateh|"kar har maidan fateh"|"...  19472216   309752
40857  amrit maan new song|"amrit maan songs"|"amrit ...  16256855   321798
40864  Halo Infinite|"Halo E3"|"Halo Infinite Trailer...   2557709    65412

       dislikes  comment_count  \
0         43420         125882
2          5339           8181
4         21082          85067
6          9850          26629
8          4123          36391
...         ...            ...
40797      5215          34466
40807      2520           3636
40828     10303          21731
40857     14006          20453
40864      2264          17165

                                       thumbnail_link  comments_disabled  \
0      https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg              False
2      https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg              False
4      https://i.ytimg.com/vi/2Vv-BfVoq4g/default.jpg              False
6      https://i.ytimg.com/vi/_uM5kFfkhB8/default.jpg              False
8      https://i.ytimg.com/vi/JzCsM1vtn78/default.jpg              False
...                                               ...                ...
40797  https://i.ytimg.com/vi/DGzy8FE1Rhk/default.jpg              False
40807  https://i.ytimg.com/vi/G4g2Kg6wXBc/default.jpg              False
40828  https://i.ytimg.com/vi/64UX1npgRkI/default.jpg              False
40857  https://i.ytimg.com/vi/vg0ZfeszGrU/default.jpg              False
40864  https://i.ytimg.com/vi/Fmdb-KmlzD8/default.jpg              False

       ratings_disabled  video_error_or_removed  \
0                 False                   False
2                 False                   False
4                 False                   False
6                 False                   False
8                 False                   False
...                 ...                     ...
40797             False                   False
40807             False                   False
40828             False                   False
40857             False                   False
40864             False                   False

                                             description
0      Eminem's new track Walk on Water ft. BeyoncÃ© i...
2      WATCH MY PREVIOUS VIDEO â–¶ \n\nSUBSCRIBE â–º http...
4      ðŸŽ§: https://ad.gt/yt-perfect\nðŸ’°: https://atlant...
6      Vanoss Merch Shop: https://vanoss.3blackdot.co...
8      Join the movement. Be a Maverick â–º https://Sho...
...                                                  ...
40797  Music video by Shawn Mendes performing Nervous...
40807  #Junga Official Trailer | #Junga is an Indian ...
40828  In the darkest of moments, itâ€™s often your fam...
40857  Buy Difference from iTunes: https://apple.co/2...
40864  The Master Chief returns in Halo Infinite â€“ th...

[4296 rows x 16 columns]

In [36]:
# Save cleaned datasets
df1.to_csv('cleaned_New_York_City_ANB_2019.csv', index=False)
df2.to_csv('cleaned_CAvideos.csv', index=False)